/*
 Copyright © 2024, Siael Alves
 Cores globais:#663130 (vinho), #abb8c3 (cinza), #dad7d2 (cinza marca d'água)
*/
/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Globais*/
*{
 font-family:"Cormorant Garamond";
 font-size:1rem;
}
h1{
 font-size:3.3rem;
 text-align:center;
}
h2{
 font-size:3rem;
 text-align:center;
 margin-bottom:6vh;
}
h3{
 font-size:1.8rem;
 text-align:left;
}
a{
 color:inherit;
 text-decoration:none;
}
a:hover{
 text-decoration:dashed;
}
ul{
 margin:0;padding:0;
}
ul li{
 margin:0;padding:0;
 list-style-type:none;
 display:inline;
}
section{
 height:auto;
 width:100%;
 position:relative;
 margin-bottom:12vh;
}
/*-Estilos especiais-*/
/*LINHA HORIZONTAL 1*/
.horizontalLine-1{
 height:auto;
 width:100%;
 border-style:solid;
 border-color:#FFFFFF;
 border-width:1px;
}
/*LINHA HORIZONTAL 2*/
.horizontalLine-2{
 height:auto;
 width:69%;
 border-style:solid;
 border-color:#FFFFFF80;
 border-width:1px;
}
/*OPACIDADE*/
.bkgColorBlack{
 height:100%;
 width:100%;
 background-color:#00000080;
 position:absolute;
 top:0;left:0;
 object-fit:contain;
 z-index:0;
}
.bkgColorWhite{
 height:100%;
 width:100%;
 background-color:#FFFFFF;
 opacity:0;
 position:absolute;
 top:0;left:0;
 object-fit:contain;
 z-index:0;
 transition:opacity 1s ease;
}
.bkgColorWine{
 height:100%;
 width:100%;
 background-color:#663130;
 opacity:50%;
 position:absolute;
 top:0;left:0;
 object-fit:contain;
}
/*REDUZIR FOTO DE FUNDO*/
.scaleDown1{
 transform:scale(0.8);
}
/*MOSTRAR/OCULTAR*/
.inactive{display:none !important;}
.active{display:flex !important;}

.visible{visibility:visible !important;}
.inivisible{visibility:hidden !important;}
/*LETTERING*/
.lettering{
 height:64%;
 width:90%;
 font-weight:lighter;
 text-align:justify;
 color:#FFFFFF;
 position:relative;
 display:flex;
 align-items:center;
 align-content:center;
 flex-wrap:wrap;
 flex-direction:row;
 justify-content:space-between;
 z-index:1;
}
.lettering .line {
 width:100%;
 margin:0;
 line-height:0.8;
 display:flex;
 flex-direction:row;
 align-content:center;
 align-items:baseline;
 justify-content:space-between;
}
.lettering .featured{
 font-size:13vw;
 font-style:italic;
 font-weight:normal;
}
.lettering .secondary{
 font-size:8vw;
 font-style:normal;
 font-style:italic;
 font-weight:bold;
}
.horizontalLineMid{
 height:3pt;
 margin:0;padding:0;
 position:absolute;
 border-style:solid;
 border-width:1px;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-in;
 animation-direction:alternate-reverse;
}
@keyframes leafMovement{
 0%{transform:rotate(49deg) rotateY(0deg);}
 100%{transform:rotate(49deg) rotateY(49deg);}
}
@keyframes leafMovement-2{
 0%{transform:rotateY(0deg);}
 100%{transform:rotateY(49deg);}
}
@keyframes leafMovement-3{
 0%{transform:skew(0deg,0deg);bottom:80%;}
 100%{transform:skew(4deg,13deg);bottom:76%;}
}
@keyframes leafMovement-4{
 0%{transform:skew(0deg,0deg);bottom:92%;}
 100%{transform:skew(5deg,5deg);bottom:87%;}
}
@keyframes horizontalLineMidGrow1{
 0%{width:0vw;}
 100%{width:9vw;}
}
@keyframes horizontalLineMidGrow2{
 0%{width:0vw;}
 100%{width:15vw;}
}
@keyframes horizontalLineLetteringGrow{
 0%{width:0%;left:50%;}
 100%{width:100%;left:0%;}
}
@keyframes horizontalLineLetteringPulse{
 0%{width:100%;left:0%;}
 100%{width:80%;left:80%;}
}
@keyframes horizontalLineLetteringPulse2{
 0%{width:69%;}
 100%{width:67%;}
}
@keyframes horizontalLineMidPulse1{
 0%{width:9vw;}
 100%{width:7.2vw;}
}
@keyframes horizontalLineMidPulse2{
 0%{width:15vw;}
 100%{width:12vw;}
}
/*BOTÃO DE NAVEGAÇÃO*/
.navSlideBtn{
 height:64px;
 width:64px;
 padding:1%;
 position:absolute;
 background-color:#abb8c380;
 z-index:1;
 transition:background-color 0.25s ease;
 cursor:pointer;
}
.navSlideBtn:hover{
 background-color:#abb8c3;
}
.navSlideBtn .navIcon{
 height:64px;
 width:64px;
}
/*BOTÕES COMUNS*/
button{
 height:5%;
 width:auto;
 margin:2.5% auto;
 padding:1%;
 font-size:1.5rem;
 align-self:center;
 position:relative;
 color:#FFFFFF;
 background-color:#00000000;
 border-style:solid;
 border-radius:20px;
 border-color:#FFFFFF;
 border-width:1px;
 cursor:pointer;
 transition:background-color 0.25s ease;
}
button:hover{
 background-color:#663130;
}
/*-Header-*/
header{
 height:16vh;
 width:99%;
 position:fixed;
 padding:0px 0.5%;
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 align-items:center;
 color:#FFFFFF;
 background-color:#00000000;
 z-index:2;
 transition:background-color 0.25s ease;
}
/*Menu*/
nav{
 width:33%;
 font-size:1.2rem;
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 align-items:center;
 color:inherit;
}
nav ul{
 font-size:inherit;
}
nav ul li{
 font-size:inherit;
 margin:0rem 2rem 0rem 0rem;
}
nav ul li a{
 font-size:inherit;
 display:inline-block;
 position:relative;
}
nav ul li a::before{
 height:1px;
 width:0%;
 content:"";
 position:absolute;
 bottom:0;left:0;
 background-color:#FFFFFF;
 transition:width 0.25s ease;
}
nav ul li a:hover::before{
 width:100%;
}
/*Logo*/
div#companyLogo {
 width:33%;
 color:inherit;
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 align-content:center;
 align-items:center;
 justify-content:center;
}
img#companyIcon{
 height:64px;
 width:auto;
}
/*TopLinks*/
ul#topLinks{
 width:33%;
 text-align:right;
}
/*--MAIN--*/
/*-SECTION slides-*/
/*SLIDE 1*/
.slideIntro{
 height:auto;
 width:80%;
 padding:0 10%;
 display:flex;
 flex-direction:column;
 flex-wrap:nowrap;
 justify-content:space-between;
 position:relative;
 background-size:cover;
 background-repeat:no-repeat;
}
.slidePhoto{
 height:100%;
 width:100%;
 object-fit:cover;
 position:absolute;
 left:0;
 top:0;
 z-index:-1;
}
.backgroundPhoto{
 transition:transform 0.25s ease;
}
h2.lettering{
 margin-top:32vh;
 margin-bottom:12vh;
}
div.horizontalLine-1{
 margin-bottom:2.5%;
 z-index:1;
 animation-name:horizontalLineLetteringPulse2;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-in;
 animation-direction:alternate-reverse;
}
span#lettering1::after,span#lettering4::after{
 height:9vw;
 width:9vw;
 content:"";
 position:absolute;
 background-repeat:no-repeat;
 background-size:contain;
}
span#lettering1::after{
 background-image:url("assets/leaf-3.svg");
 left:0%;
 bottom:100%;
 animation-name:leafMovement-2;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-out;
 animation-direction:alternate-reverse;
}
span#horizontalLineMid1{
 width:9vw;
 top:67%;
 left:0;
 animation-name:horizontalLineMidPulse1;
}
span#horizontalLineMid2{
 width:15vw;
 top:60%;
 left:0;
 animation-name:horizontalLineMidPulse2;
}
span#lettering3{
 transform:translate(0px, 20pt);
}
span#lettering4::after{
 background-image:url("assets/leaf-1.svg");
 right:-15%;
 bottom:-10%;
 animation-name:leafMovement;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-out;
 animation-direction:alternate-reverse;
}
span#lettering4{
 font-style:normal;
 font-weight:600;
 line-height:0;
 transform:translate(0,20pt);
}
h3.slideSubText{
 height:auto;
 width:80%;
 margin-bottom:2.5%;
 position:relative;
 color:#FFFFFF;
 z-index:1;
}
.slideContactBtn{
 z-index:1;
}
div#navBtnLeft{
 left:0;
 top:50vh;
 transform:translate(0,-50%);
}
div#navBtnRight{
 right:0;
 top:50vh;
 transform:translate(0,-50%);
}
/*SLIDE 2*/
div#slide2{
 align-items:center;
}
div#slide2.slideIntro .lettering .line{
 line-height:1.2;
}
h2#slideTitle2{
 width:100%;
}
div#letteringLine3{
 justify-content:flex-start;
}
div#letteringLine4{
 justify-content:flex-end;
}
span#lettering5,span#lettering8{
 font-size:10vw;
 position:relative;
}
div.horizontalLine-2{
 z-index:1;
 position:absolute;
 right:0;
 transform:translate(-6vw,0.6vw);
 animation-name:horizontalLineLetteringPulse2;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-in-out;
 animation-direction:alternate-reverse;
}
span#lettering5::after,span#lettering8::after{
 height: 9vw;
 width: 9vw;
 content: "";
 position: absolute;
 background-size: 9vw 9vw;
 background-repeat: no-repeat;
 animation-duration:2s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-out;
 animation-direction:alternate-reverse;
}
span#lettering8::after {
 right: -3%;
 bottom: 92%;
 background-image: url("assets/leaf-5.svg");
 animation-name:leafMovement-4;
}
span#lettering5::after {
 left: 0%;
 bottom: 80%;
 background-image: url("assets/leaf-4.svg");
 animation-name:leafMovement-3;
}
h3#slideSub2{
 text-align:center;
}
/*-SECTION MagicalTherapyInfo-*/
section#magicalTherapyInfo{
 height:auto;
 width:97%;
 padding:0% 1.5%;
 display:flex;
 flex-direction:column;
}
section#magicalTherapyInfo h2{
 height:auto;
 width:40%;
 margin-left:auto;
 margin-right:auto;
}
section#magicalTherapyInfo ul li{
 display:block;
}
div.boxHonors{
 height:auto;
 width:100%;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 align-content:center;
 justify-content:space-between;
 align-items:center;
 font-size:1rem;
 color:#FFFFFF;
 background-color:#000000;
 border-style:solid;
 border-radius:25px;
}
div.boxHonors ul{
 height:auto;
 width:43%;
 padding:0% 3%;
 font-size:inherit;
 color:inherit;
}
div.boxHonors ul li{
 height:auto;
 margin-bottom:5%;
 padding:6%;
 font-size:inherit;
 color:inherit;
 border-style:solid;
 border-width:1px;
 border-color:#FFFFFF80;
 border-radius:10px;
}
div.boxHonors ul li#honor3{
 margin-bottom:0;
}
div.boxHonors img{
 height:100%;
 width:49%;
 object-fit:cover;
 border-radius:0px 20px 20px 0px;
}
/*-SECTION EffectSolutions-*/
section#effectSolutions{
 height:auto;
 width:97%;
 padding:5% 1.5%;
 background-image:url("assets/effectSolutions-background.svg");
 background-repeat:no-repeat;
 background-size:cover;
 color:#FFFFFF;
 display:flex;
 flex-wrap:wrap;
 flex-direction:row;
 align-content:center;
 align-items:center;
}
section#effectSolutions h2{
 width:49%;
 text-align:left;
}
section#effectSolutions div.bkgColorWine{
 opacity:85% !important;
 z-index:0;
}
section#effectSolutions h2,section#effectSolutions .therapyPhotos,
section#effectSolutions p,section#effectSolutions img{
 position:relative;
 z-index:1;
}
p#photoStatement{
 width:49%;
}
div.therapyPhotoList{
 height:auto;
 width:100%;
 display:flex;
 overflow:hidden;
}
div.therapyPhotoList .photoBox{
 position:relative;
 margin-right:4%;
}
div.therapyPhotoList img.therapyPhoto{
 max-height:512px;
 height:405px;
 width:400px;
 object-fit:cover;
 border-radius:20px;
}
div.photoBoxInfo{
 height:auto;
 width:80%;
 padding:6% 5%;
 font-size: 1.5rem;
 color: #000000;
 position:absolute;
 bottom: 12%;
 left: 0;
 z-index: 1;
 background-color: #FFFFFF;
}
div.photoBoxInfo h3{
 font-size:inherit;
}
/*-SECTION WhyChoose Us-*/
section#whyChoose ul hr{
 margin-bottom:18pt;
}
section#whyChoose ul{
 padding:0 1.5%;
}
.whyChoose{
 font-size:1.2rem;
 padding:9pt 0;
 position:relative;
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 align-items:flex-start;
 justify-content:space-between;
}
.whyChoose h3{
 width:49%;
}
.whyChoose img{
 width:auto;
 height:128px;
 opacity:0;
 position:absolute;
 left:31%;
 top:0;
 border-radius:15px;
 transition:opacity 0.25s ease;
}
.whyChoose:hover img{
 opacity:100%;
}
.whyChoose:hover h3{
 text-decoration:underline;
}
.whyChoose p{
 width:49%;
 font-size:inherit;
}